body {
	background-color: #C2D5FF;
}

{font-family: Antonio;}

header {
	background-color: #7A5980;
}
h1 {
	font-family: 'Antonio', sans-serif;
	color: #C2D5FF;
}

p {
	font-family: 'Anton', sans-serif;
	color: #FF6978;
	word-spacing: 7px;
	line-height: 25px;
}

li {
	font-family: 'Anton', sans-serif;
	color: #FF6978;
	border-color: #C2D5FF;
	border-width: 10px;
	border-style: solid;
	border-radius:5px;
}